/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
  background-color: lightslategray;
}
/*Title*/
h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}
/*container*/
#container {
  margin: 50px 20px;
  display: flex;
  flex-wrap: wrap;
}

/*box inside container*/
.box {
  width: 10%;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: aqua;
}
/*background-color fizz, buzz, fizzbuzz*/

.fizzbuzz {
  background-color: red;
}

.buzz {
  background-color: blue;
}
.fizz {
  background-color: green;
}
