/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
}
/*Title*/
h1 {
  color: black;
  font-size: 3rem;
  text-align: center;
}
/*container*/
#container {
  margin: 50px 20px;
  display: flex;
  flex-wrap: wrap;
}

/*box inside container*/
.box {
  width: 10%;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: aqua;
  color: gray;
  border: 2px solid black;
}

/*background-color fizz, buzz, fizzbuzz*/
.fizzbuzz {
  background-color: red;
  color: yellow;
}

.buzz {
  background-color: blue;
  color: fuchsia;
}
.fizz {
  background-color: green;
  color: red;
}
